html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  color: rgba(0,0,0,0.8);
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}



.app-layout {
  padding: 15px;
}

.tile.box.mod-no-shadow {
  box-shadow: none;
}

.bookmark-form {
  width: 100%;
}

.Bookmark {
  position: relative;
}

.Bookmark .Bookmark-icon {
  font-size: 1.2rem;
  line-height: 135%;
  margin-right: 5px;
}

.Bookmark-title {
  display: block;
  font-size: 1.2rem;
  line-height: 130%;
  padding-right: 10px;
}

.Bookmark-url {
  display: block;
  font-size: 0.8rem;
  color: gray;
}

.Bookmark-link {
  display: block;
  margin: -10px;
  padding: 10px;
  width: 100%; /* for lagacy browser */
  width: calc(100% + 20px);
  height: 100%;
}

.Bookmark-remove {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #999;
  visibility: hidden;
}

.Bookmark:hover .Bookmark-remove {
  visibility: visible;
}

.Bookmark:hover .Bookmark-remove:hover {
  color: #666;
}

.Bookmark-edit {
  line-height: 170%;
  font-size: 1rem;
  color: #999;
  visibility: hidden;
}

.Bookmark:hover .Bookmark-edit {
  visibility: visible;
}

.Bookmark:hover .Bookmark-edit:hover {
  color: #999;
}

.bookmark-list.mod-square {
  position: relative;
  float: left;
  background-color: #00FF00;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  margin: 5px;
}

.bookmark-list.mod-square > a {
  display: block;
  width: 100%;
  height: 100%;
}