.Bookmark {
}

.Bookmark-title {
  display: block;
  font-size: 1.2rem;
}

.Bookmark-url {
  display: block;
  font-size: 0.8rem;
  color: gray;
}

.Bookmark-link {
  display: block;
  margin: -10px;
  padding: 10px;
  width: 100%; /* for lagacy browser */
  width: calc(100% + 20px);
  height: 100%;
}

.bookmark-list.mod-square {
  position: relative;
  float: left;
  background-color: #00FF00;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  margin: 5px;
}

.bookmark-list.mod-square > a {
  display: block;
  width: 100%;
  height: 100%;
}