<template name="BookmarkForm">
  <form class="js-bookmark-form bookmark-form">
    {{#if bookmark}}
      <input type="hidden" name="_id" value="{{bookmark._id}}" />
    {{/if}}
    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">URL<span style="color: red;">*</span></label>
      </div>
      <p class="control">
        <input class="input js-fetch-title" type="text" name="url" value="{{bookmark.url}}" placeholder="http://...">
      </p>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Title</label>
      </div>
      <p class="control">
        <input class="input" type="text" name="title" value="{{bookmark.title}}" placeholder="(optional)">
      </p>
    </div>

    <div class="control is-horizontal">
      <div class="control-label"></div>

      <p class="control">
        {{#if editMode}}
          <button type="button" class="button js-cancel-edit">Cancel</button>
          &nbsp;
          <button type="submit" class="button is-primary">Update</button>
        {{else}}
          <button type="submit" class="button is-primary is-fullwidth">Add</button>
        {{/if}}
      </p>
    </div>
  </form>
</template>