<template name="Bookmarks">
  <nav class="panel" style="background-color: white;">
    <p class="panel-heading">
      Bookmarks ({{count}})
    </p>

    <p class="panel-tabs">
      <a href="#" class="{{#if isActiveTab 'All'}}is-active{{/if}} js-select-tab" data-tab="All">All</a>
      <a href="#" class="{{#if isActiveTab 'Starred'}}is-active{{/if}} js-select-tab" data-tab="Starred">Starred</a>
    </p>

    {{#each bookmark in bookmarks}}
      {{> Bookmark bookmark=bookmark}}
    {{/each}}

  </nav>
</template>