<template name="BookmarkForm">
  <form class="js-bookmark-form bookmark-form">
    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">URL<span style="color: red;">*</span></label>
      </div>
      <p class="control">
        <input class="input" type="text" name="url" placeholder="http://...">
      </p>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Title</label>
      </div>
      <p class="control">
        <input class="input" type="text" name="title" placeholder="(optional)">
      </p>
    </div>

    <div class="control is-horizontal">
      <div class="control-label"></div>

      <p class="control">
        <button type="submit" class="button is-primary is-fullwidth">Add</button>
      </p>
    </div>
  </form>
</template>